* {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; }

html {
  background-color: #ffffff; }

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

h1,
h2,
h3 {
  margin: 0;
  padding: 10px; }

.hidden {
  display: none !important; }

.container {
  width: 960px; }

.card {
  padding: 10px 10px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 2px 2px 2px #eeeeee;
          box-shadow: 0px 2px 2px 2px #eeeeee; }

.card-title {
  background-color: #f7f7f7;
  margin-top: -10px;
  margin-left: -10px;
  margin-right: -10px;
  margin-bottom: 10px; }

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.flex-row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row; }

.flex-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.justify-content-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.justify-content-end {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end; }

.align-items-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.flex-grow-1 {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1; }

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

/* -----------------------------------------
  Step 1
-------------------------------------------- */
.group-check {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.form-check-input {
  margin: 0 10px 0px 2px; }

.form-check-label {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  cursor: pointer; }

.form-check {
  margin-top: 10px;
  margin-bottom: 20px; }

.form-label {
  width: 225px;
  margin: 2px; }

.form-control {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin: 2px;
  padding: 0.2rem 0.5rem;
  border-radius: 3px;
  border: 1px solid #000; }

.form-control-yes {
  background: rgba(25, 135, 84, 0.25);
  border: 1px solid #198754; }

.form-control-no {
  background: rgba(220, 53, 69, 0.25);
  border: 1px solid #dc3545; }

.status {
  padding: 5px 0px; }

.status-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 0 10px; }

.status-text-success {
  color: #198754;
  background-color: rgba(25, 135, 84, 0.2); }

.status-text-error {
  color: #dc3545;
  background-color: rgba(220, 53, 69, 0.2); }

.btn {
  display: inline-block;
  font-weight: 400;
  color: #212529;
  text-align: center;
  background-color: transparent;
  border: 1px solid transparent;
  font-size: 1rem;
  color: #fff;
  background-color: #17a2b8;
  border-color: #17a2b8;
  padding: 0.5rem 1rem;
  margin: 0 2px;
  line-height: 1;
  border-radius: 0.25rem;
  text-decoration: none;
  cursor: pointer;
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out; }
  .btn:hover {
    color: #fff;
    background-color: #138496;
    border-color: #117a8b; }

.btn-lg {
  font-size: 1.5rem; }

.btn-success {
  color: #fff;
  background-color: #198754;
  border-color: #198754; }
  .btn-success:hover, .btn-success:active {
    color: #fff;
    background-color: #157347;
    border-color: #146c43; }

.btn-danger {
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545; }
  .btn-danger:hover, .btn-danger:active {
    background-color: #bb2d3b;
    border-color: #b02a37; }

input[readonly="true"] {
  background-color: #efefef; }

.group-file-zip {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 5px 0px; }

.server-info-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 5px;
  color: #ffffff; }

.server-info-item-yes {
  background-color: #198754; }

.server-info-item-no {
  background-color: #dc3545; }

.server-info-module {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1; }

.server-info-status {
  padding: 0 10px; }

.m-1 {
  margin: 3px; }

.m-2 {
  margin: 6px; }

.m-3 {
  margin: 9px; }

.disabled {
  opacity: 0.75 !important;
  pointer-events: none !important;
  cursor: no-drop !important; }

/* -----------------------------------------
  Step 2
-------------------------------------------- */
.load {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px 5px;
  border-radius: 5px;
  width: 250px;
  margin: auto;
  height: 50px;
  background-color: #e3e3e3; }

.load-bar {
  width: 25px;
  height: 25px;
  border-radius: 100%;
  background-color: #4b9cdb; }

.load-bar {
  -webkit-animation: loadingJ 5s cubic-bezier(0.17, 0.37, 0.43, 0.67) infinite;
          animation: loadingJ 5s cubic-bezier(0.17, 0.37, 0.43, 0.67) infinite; }

@-webkit-keyframes loadingJ {
  0%,
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0); }
  50% {
    -webkit-transform: translate(230px, 0);
            transform: translate(230px, 0);
    background-color: #f5634a;
    width: 25px; } }

@keyframes loadingJ {
  0%,
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0); }
  50% {
    -webkit-transform: translate(230px, 0);
            transform: translate(230px, 0);
    background-color: #f5634a;
    width: 25px; } }
/*# sourceMappingURL=style.css.map */